<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] [requestId=%X{requestId}] - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <springProperty name="LOKI_URL" source="loki.url" defaultValue="http://localhost:3100"/>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <batchMaxItems>10</batchMaxItems>
    <batchTimeoutMs>5000</batchTimeoutMs>
    <http>
      <url>${LOKI_URL}/loki/api/v1/push</url>
    </http>
    <format>
      <label>
        <pattern>application=java-profile,level=%level</pattern>
      </label>
      <message>
        <pattern>${LOG_PATTERN}</pattern>
      </message>
      <sortByTime>true</sortByTime>
    </format>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOKI"/>
  </root>

</configuration>
